/**unset*/
body{
	margin:0;
}
a,fieldset{
	all:unset;
}
fieldset{
	display: block;
}
/**unset*/
html{
  background-color: rgb(236,238,244);
}
body
{
	margin: 0 auto;
  max-width: 980px;
}
header{
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button,a[role=button]{
	color: #A5ABC5;
	font-weight: bold;
	padding: 1em .5em 1em 1.9em;
	cursor: pointer;
	border: .1em solid #A5ABC5;
	border-radius: .3em;
}
button:hover,a[role=button]:hover{
	border-color: #76A7E1;
	opacity: .9;
}

.print-quote{
	background: #5FCAC6;
}
main{
	border: .1em solid #A5ABC5;
	border-radius: .3em;
	background: #FFF;
}
.your-order{
	color: #515769;
	background-repeat: no-repeat;
	padding-left: 1.5em;
}
h3{
	color: #6E768F;
}
.print-quote{
	color: #FFF;
}
.order-header{
	display: flex;
}
.order{
flex:1 1 67%;
}
.help-center{
flex:1 1 33%;
}